{:paths ["src"]
 :deps {io.millstrand/batteries {:git/url "https://github.com/codethread/millstrand.git"
                                 :git/sha "310368dff9174bd889ad21d4ed8196952684eaf9"
                                 :deps/root "spools/batteries"}
        millhouse.spools/workflow {:git/url "https://github.com/codethread/millhouse.spool.git"
                                   :git/sha "f487eb42ea9523e8bd405e64a7c319013217d988"
                                   :deps/root "spools/workflow"}
        millhouse.spools/identity {:git/url "https://github.com/codethread/millhouse.spool.git"
                                   :git/sha "f487eb42ea9523e8bd405e64a7c319013217d988"
                                   :deps/root "spools/identity"}
        millhouse.spools/kanban {:git/url "https://github.com/codethread/millhouse.spool.git"
                                 :git/sha "f487eb42ea9523e8bd405e64a7c319013217d988"
                                 :deps/root "spools/kanban"}
        ct.spools/harnesses {:git/url "https://github.com/codethread/harnesses.spool.git"
                             :git/sha "e8a26477852216bca2579b050a2356c86af132b7"}
        codethread/devflow {:git/url "https://github.com/codethread/devflow.spool.git"
                            :git/sha "99313b48f14ab0892cb90264d100dce4ff2a25e0"
                            :deps/root "."}
        codethread/devflow-kanban-adapter {:git/url "https://github.com/codethread/devflow.spool.git"
                                           :git/sha "99313b48f14ab0892cb90264d100dce4ff2a25e0"
                                           :deps/root "kanban-adapter"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.millstrand/millstrand
                               {:git/url "https://github.com/codethread/millstrand.git"
                                :git/sha "310368dff9174bd889ad21d4ed8196952684eaf9"}}
                  :main-opts ["-m" "ct.spools.codethread.config-test"]}}}
