{:paths ["src"]
 :deps {millhouse.spools/auto-run {:git/url "https://github.com/codethread/millhouse.spool.git"
                                 :git/sha "62723b7b1820c7e1723de4a2ff985b069871159e"
                                 :deps/root "spools/auto-run"}
        io.millstrand/batteries {:git/url "https://github.com/codethread/millstrand.git"
                                 :git/sha "91361ef09eda4d09a24515a6ba3f99aa3090525a"
                                 :deps/root "spools/batteries"}
        millhouse.spools/workflow {:git/url "https://github.com/codethread/millhouse.spool.git"
                                   :git/sha "62723b7b1820c7e1723de4a2ff985b069871159e"
                                   :deps/root "spools/workflow"}
        millhouse.spools/identity {:git/url "https://github.com/codethread/millhouse.spool.git"
                                   :git/sha "62723b7b1820c7e1723de4a2ff985b069871159e"
                                   :deps/root "spools/identity"}
        millhouse.spools/kanban {:git/url "https://github.com/codethread/millhouse.spool.git"
                                 :git/sha "62723b7b1820c7e1723de4a2ff985b069871159e"
                                 :deps/root "spools/kanban"}
        millhouse.spools/land {:git/url "https://github.com/codethread/millhouse.spool.git"
                               :git/sha "62723b7b1820c7e1723de4a2ff985b069871159e"
                               :deps/root "spools/land"}
        ct.spools/harnesses {:git/url "https://github.com/codethread/harnesses.spool.git"
                             :git/sha "6b5ad39d8711a033dc7f33fd52c78901393ea44e"}
        codethread/devflow {:git/url "https://github.com/codethread/devflow.spool.git"
                            :git/sha "3d880109f68e84e9c0d019e34d6ec434daf7c8d8"
                            :deps/root "."}
        codethread/devflow-kanban-adapter {:git/url "https://github.com/codethread/devflow.spool.git"
                                           :git/sha "3d880109f68e84e9c0d019e34d6ec434daf7c8d8"
                                           :deps/root "kanban-adapter"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.millstrand/millstrand
                               {:git/url "https://github.com/codethread/millstrand.git"
                                :git/sha "91361ef09eda4d09a24515a6ba3f99aa3090525a"}}
                  :main-opts ["-m" "ct.spools.codethread.config-test"]}
           :consumer-smoke
           {:extra-paths ["test"]
            :extra-deps {io.millstrand/millstrand
                         {:git/url "https://github.com/codethread/millstrand.git"
                          :git/sha "91361ef09eda4d09a24515a6ba3f99aa3090525a"}}
            :main-opts
            ["-m"
             "ct.spools.codethread.shared-landing-consumer-smoke"]}}}
