{:deps {codethread/config {:local/root "../spools/config"}
        codethread/ralph {:local/root "../spools/ralph"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :extra-deps
   {io.millstrand/millstrand
    {:git/url "https://github.com/codethread/millstrand.git"
     :git/sha "310368dff9174bd889ad21d4ed8196952684eaf9"}}
   :main-opts ["-m" "codethread.auto-run-test"]}}}
