{:spools
 {millstrand.spools/batteries {:millstrand/source-root "spools/batteries"}
  codethread/spools
  {:local/root ".."
   :roots {codethread/agents "spools/agents"
           codethread/devflow-setup "spools/devflow-setup"
           codethread/ralph "spools/ralph"}}
  millhouse/spools
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "c968e8bb083496cbdc2374def4f2c22347440806"
   :roots {millhouse.spools/workflow "spools/workflow"
           millhouse.spools/millstrand-workflows "spools/millstrand-workflows"
           millhouse.spools.executors/shell "spools/shell-executor"}}
  ct.spools/agent-run
  {:git/url "https://github.com/codethread/agent-harness.spool.git"
   :git/sha "abb5c15a9497d00cdbcdf024f6e73339e98841a5"
   :roots {ct.spools/agent-run "agent-run"
           ct.spools/harness-core "harness-core"
           ct.spools/claude-harness "claude-harness"
           ct.spools/codex-harness "codex-harness"
           ct.spools/pi-harness "pi-harness"
           ct.spools/agent-cli "agent-cli"
           ct.spools/delegation "delegation"}}
  codethread/devflow
  {:git/url "https://github.com/codethread/devflow.spool.git"
   :git/sha "76b59b65ed45abd41f8a1ee1bc73b8a880d2634c"
   :roots {codethread/devflow "."
           codethread/devflow-kanban-adapter "kanban-adapter"}}
  codethread/kanban
  {:git/url "https://github.com/codethread/kanban.spool.git"
   :git/sha "a6b3a36cd5476ec5c36cd58a7f74bfec6b7e665e"
   :roots {codethread/kanban "."}}}}
