{:spools
 {millstrand.spools/batteries {:millstrand/source-root "spools/batteries"}
  codethread/spools
  {:local/root ".."
   :roots {codethread/config "spools/config"
           codethread/ralph "spools/ralph"}}
  millhouse/spools
  {:git/url "https://github.com/codethread/millhouse.spool.git"
   :git/sha "7c615bd1032be0e443c36fa12e8c50143e8014ff"
   :roots {millhouse.spools/workflow "spools/workflow"
           millhouse.spools/millstrand-workflows "spools/millstrand-workflows"
           millhouse.spools.executors/shell "spools/shell-executor"
           millhouse.spools/kanban "spools/kanban"}}
  ct.spools/agent-run
  {:git/url "https://github.com/codethread/agent-harness.spool.git"
   :git/sha "da08fa5fa7f7bd55b67f416a9e254e20d3af65e9"
   :roots {ct.spools/agent-run "agent-run"
           ct.spools/harness-core "harness-core"
           ct.spools/claude-harness "claude-harness"
           ct.spools/codex-harness "codex-harness"
           ct.spools/pi-harness "pi-harness"
           ct.spools/agent-cli "agent-cli"
           ct.spools/delegation "delegation"}}
  codethread/devflow
  {:git/url "https://github.com/codethread/devflow.spool.git"
   :git/sha "f3a74045296eba0394709a1feab46f5ca910e343"
   :roots {codethread/devflow "."
           codethread/devflow-kanban-adapter "kanban-adapter"}}}}
