{:paths ["src"]
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.millstrand/millstrand {:git/url "https://github.com/codethread/millstrand.git"
                                               :git/sha "3bbe5dc15359975a8e8203ef47b3a7514177e75b"}
                      millhouse.spools/workflow {:git/url "https://github.com/codethread/millhouse.spool.git"
                                                 :git/sha "3c4f17c9e52e794891052c406e84f21180a47674"
                                                 :deps/root "spools/workflow"}}
         :main-opts ["-m" "ct.spools.codethread.ralph-test"]}}}
