{:paths ["src"]
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.millstrand/millstrand {:git/url "https://github.com/codethread/millstrand.git"
                                               :git/sha "3bbe5dc15359975a8e8203ef47b3a7514177e75b"}
                      ct.spools/agent-run {:git/url "https://github.com/codethread/agent-harness.spool.git"
                                           :git/sha "1f06dfd046828f86c262537c190f854b87d90f6f"
                                           :deps/root "agent-run"}
                      ct.spools/delegation {:git/url "https://github.com/codethread/agent-harness.spool.git"
                                            :git/sha "1f06dfd046828f86c262537c190f854b87d90f6f"
                                            :deps/root "delegation"}}
         :main-opts ["-m" "ct.spools.codethread.agents-test"]}}}
