{:paths ["src"]
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.millstrand/millstrand {:git/url "https://github.com/codethread/millstrand.git"
                                               :git/sha "3bbe5dc15359975a8e8203ef47b3a7514177e75b"}
                      millhouse.spools/workflow {:git/url "https://github.com/codethread/millhouse.spool.git"
                                                 :git/sha "3c4f17c9e52e794891052c406e84f21180a47674"
                                                 :deps/root "spools/workflow"}
                      codethread/devflow {:git/url "https://github.com/codethread/devflow.spool.git"
                                          :git/sha "76b59b65ed45abd41f8a1ee1bc73b8a880d2634c"
                                          :deps/root "."}
                      codethread/devflow-kanban-adapter {:git/url "https://github.com/codethread/devflow.spool.git"
                                                         :git/sha "76b59b65ed45abd41f8a1ee1bc73b8a880d2634c"
                                                         :deps/root "kanban-adapter"}
                      codethread/kanban {:git/url "https://github.com/codethread/kanban.spool.git"
                                         :git/sha "a6b3a36cd5476ec5c36cd58a7f74bfec6b7e665e"
                                         :deps/root "."}}
         :main-opts ["-m" "ct.spools.codethread.devflow-setup-test"]}}}
