{:paths ["src"]
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.millstrand/millstrand {:git/url "https://github.com/codethread/millstrand.git"
                                               :git/sha "3bbe5dc15359975a8e8203ef47b3a7514177e75b"}
                      millhouse.spools/workflow {:git/url "https://github.com/codethread/millhouse.spool.git"
                                                 :git/sha "3c4f17c9e52e794891052c406e84f21180a47674"
                                                 :deps/root "spools/workflow"}
                      codethread/devflow {:git/url "https://github.com/codethread/devflow.spool.git"
                                          :git/sha "3a96415df0429c245191a22e66cc0bfc91524199"
                                          :deps/root "."}
                      codethread/devflow-kanban-adapter {:git/url "https://github.com/codethread/devflow.spool.git"
                                                         :git/sha "3a96415df0429c245191a22e66cc0bfc91524199"
                                                         :deps/root "kanban-adapter"}
                      codethread/kanban {:git/url "https://github.com/codethread/kanban.spool.git"
                                         :git/sha "87f61bc2750e7026f3650235907db25f19b1536e"
                                         :deps/root "."}}
         :main-opts ["-m" "ct.spools.codethread.devflow-setup-test"]}}}
